body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: radial-gradient(circle closest-side, black 60%, #333 100%, #666 200%);
  font-family: serif;
  user-select: none;
  width: 100vw;
  height: 100vh;
}
